/* || FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background-image: url("../images/memorygame-background.png");
  background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
   font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
        letter-spacing: 1px;

}

.nav-item {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar{
	padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.page-title {
  color: #000;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
      margin-top: 20px;

}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: green;
  font-size: 1.5em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin:0px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 100px;
  width: 100px;
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0)
}

.card.matched .card-value {
  animation: dance 1s linear infinite 500ms;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #fff;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}


.overlay-text, li {
margin-top: 5px;

}

.instruction-list{
    text-transform: lowercase;
}


.btn-success{
    font-size: 21px;
    animation: glowing 1.2s infinite;
}

/*https://www.w3docs.com/snippets/css/how-to-create-flashing-glowing-button-using-animation-in-css3.html*/
      @keyframes glowing {
        0% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
        50% {
          background-color: #49e819;
          box-shadow: 0 0 20px #49e819;
        }
        100% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
      }

.overlay-text-small {
  font-size: 1em;
  color: green;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

h4{
    display: flex;
    flex-direction: column;
        font-size: 4.5rem;
}

/*
100% {
    background-color: rgba(0, 0, 0, .95);
    font-size: 5.5em;
}*/



@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .95);
    font-size: 1.5em;
  }
}

@keyframes dance {
  0%, 100%  {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

.card-back {
  background-color: #fff;
  border-color: #000;
}

.card-front {
  background-color: #fff;
  border-color: #000;
  transform: rotateY(180deg);
}

.card-value {
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.card-front:hover .card-value {
  transform: scale(1);
}


.fiid {
  align-self: flex-start;
}

.card-back:hover .fiid {
  transform: translateY(0)
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}

.instruction {
	color: #28A745;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
}

#subscribe-submit {
    background-color: #28A745;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.congrats{
    font-size: 26px;
    font-weight: bold;
}

#subscribe-submit:hover{
color: white;
    background-color: black;
}

#email {
    font-size: 16px;
        width: 280px;
    margin-left: 5px;
}


#email-subscribe{
padding-top: 10px;
    padding-bottom: 20px;
}

.form-check-label {
    color: black;
    font-size: 9px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.6rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

h3{
    font-size: 16px;
    text-align: center;
    color: #000;
}

.congrats h3{
    padding-bottom: 100px;
}

/* Solid Social Share Buttons */

.social {
  text-align: center;
  padding-bottom: 20px;
}

.btn-social,
.btn-social:visited,
.btn-social:focus,
.btn-social:hover,
.btn-social:active {
  color: #ffffff;
  text-decoration: none;
  transition: opacity .15s ease-in-out;
}

.btn-social:hover,
.btn-social:active {
 opacity: .75;
}

.btn-fb {
  background-color: #3b5998;
}

.btn-tw {
  background-color: #1da1f2;
}

.btn-em {
  background-color: #3cd3d3;
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.btn-dark {
    width: 150px;
}

