* {
margin: 0;
padding: 0;
}

body{
font-family: "Roboto", sans-serif;
color: #fff;
}
        
.imgbox {
display: grid;
height: 100%;
}

.center-fit {
max-width: 100%;
max-height: 100vh;
margin: auto;
}

.nav-item {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
